@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Eater&family=Griffy&family=Nosifer&display=swap');

*{
    box-sizing: border-box;
    max-width: 100%;
}
body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(rgb(16, 14, 38),rgb(76, 63, 115) ) ;
    margin-left: 3rem;
    margin-right: 3rem;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}
main {
    text-align: center;
}
h1 {
    color: yellow;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 5rem;
    text-transform: uppercase;
    font-weight: 700;
}
h2, #show, #ks {
    color: rgb(17, 13, 26);
    background-color: rgb(244, 239, 219);
    padding: .8rem;
    border-radius: 25px;
    max-width: 80%;
    margin: 0 auto; 
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
    font-weight: 700;
}
#show {
    margin-top: 2.2rem;
}
h3 {
    font-size: 2rem;
    color:  rgba(65, 118, 45,0.8);
    text-shadow: 2px 2px yellow;
    font-weight: 900;
}
span {
    font-weight: 700;
}
#icon  {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 2rem;

}
a {
    text-decoration:none;

}
i {
    color: yellow;
    margin-right: 2rem;
}
div#center {
    display: flex;
    flex-direction: column;
    width: 45vw;
    margin: auto;
    align-items: center;
}
#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgba(65, 118, 45,0.8);
    border: none;
    border-radius: 30px;
    margin-top: 1.5rem;
    align-items: center;
}
button, .back {
    font-family:'Courier New', Courier, monospace;
    background-color:yellow;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 33vw;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 auto;
}
button:hover , .back:hover{
    background-color: rgb(65, 118, 45,0.8);
    color:  white;
}
img {
    height: 44vh;
    width: auto;
}


@media all and (max-width:900px){
    body {
        margin-left: .5rem;
        margin-right: .5rem;
    }
    h1 {
        font-size: 2rem;
        margin-top: 5rem;
    }
    p{
        font-size: 1.2rem;
    }
    em {
        font-size: 1.5rem;
    }
    button {
        padding: 4px;
        width: 66vw;
    }
    img {
        height: 30vh;
    }
}

@media all and (max-width: 645px) {
    .itemBox img {
        height: auto;
    }
}

@media all and (max-width:600px){
    .fa-3x {
        font-size: 2em;
    }
    h1{
        font-size: 2rem;
        margin-top: 3rem;
        text-align: center;
    }
    h3 {
        text-align: center;
        font-size: 1.3rem;
    }

    p {
        font-size: 1.1rem;
    }
    em {
        font-size: 1.1rem;
    }
    .back {
        font-size: 1.4rem;
        padding: 4px;
        width: 55vw;
    }
    button {
        margin: 0;
        font-size: 1.4rem;
    }
}
@media all and (max-width: 450px) {
    h2 {
        font-size: 1rem;
    }
}